.container {
	width: clamp(250px, 100%, 20vw);
	padding: 32px;
	display: flex;
	flex-direction: column;
	margin: 16px auto;
	align-items: center;
	gap: 16px;
	background-color: antiquewhite;
}

.calculator--display {
	background-color: #fff;
	width: clamp(250px, 100%, 20vw);
	padding: 0 0.5em 0 0;
	box-sizing: border-box;
	text-align: right;
}

.calculator--display--equation {
	color: grey;
}

.calculator--keys {
	width: clamp(250px, 100%, 20vw);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
}

.calculator--keys button {
	padding: 16px;
	border-radius: 8px;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	border: none;
	background-color: grey;
	color: white;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease;
}

.calculator--keys button:hover {
	color: yellow;
	background-color: black;
	cursor: pointer;
}

.calculator--keys--button[value="0"] {
	grid-column: 1 / 3;
}
